@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}

h1 {
    font-family: "Exo 2", Arial, Helvetica, sans-serif;
    font-size: 60px;
}

h2, h3, h4, h5, h6 {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.logo {
    width: 160px;
}

.heroImage {
    padding: 50px;
   
    height: 88vh;

    align-items: center;

}

.well {
    padding: 15px;
}

header i {
    padding: 2px;
}

i {
    padding: 15px;
}

.row {
    padding: 3% 10% 3% 10%;
}

a {
    text-decoration: none;
}

footer .btn-link {
    color:white;
}

input, textarea {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .heroImage {
        height: 75vh;
    }
}